body{
    margin:0;
    padding: 0;
    background: url(../background/hypnotize.png);
}
.header-marg {
	margin-top: 0px;
}

H3 {
	font-size: 180%;
	font-family: "Amatic SC", cursive;
	font-size: 250%;
	text-align: center;
	color: white;
}
H1 {

	font-size: 300%;
	font-family: "Amatic SC", cursive;
	font-size: 250%;
	text-align: center;
}

H2 {
	font-size: 250%;
	font-family: "Amatic SC", cursive;
	font-size: 250%;
	margin-left: 20px;
}
H4 {
	font-size: 250%;
	font-family: "Amatic SC", cursive;
	font-size: 250%;
	margin-left: 20px;
}

q {
	font-size: 130%;
	font-family: Century Gothic;
	font-style: italic;
	/* Курсивное начертание текста */
	color: #ffffff;
	/* Синий цвет текста */
	quotes: "\00ab" "\00bb";
	/* Кавычки в виде двойных угловых скобок */
}

.content-marg {
    padding: 50px 0 50px 0;
}

.content-marg-top {
	margin-top: 20px;
	margin-bottom: 20px;
}

.rom-dani {
	height: 300px;
}

.row-content-dani {
	vertical-align: middle;
}

.block-dani {
	padding: 10px;
	height: 190px;
}

.block-text {
	height: inherit;
	margin: inherit;
}

.form-conent {
	margin: 5px;
	margin-bottom: 20px;
}

.border-rounded {
    width: auto; 
    height: auto;
    max-width: 450px; 

	margin-bottom: 10px;
	margin-top: 10px;
    background: rgba(255, 255, 255, 0.74);
    
    border: 2px solid #357ae8;
}

hr {
    margin: 0px;
	border: none;
	/* Убираем границу */
	background-color: #4d90fe;
	/* Цвет линии */
	height: 2px;
	/* Толщина линии */
}

.line {
	border-left: 2px solid ;
	/* Параметры линии */
	margin-left: 2px;
	/* Отступ слева */
	padding-left: 10px;
	/* Расстояние от линии до текста */
}

.something-semantic {
	display: table;
	width: 100%;
}

.something-else-semantic {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.block {
	text-align: center;
	margin: 1px;
}

.block:before {
	content: "\200B";
	/*   content: '';
  margin-left: -0.25em; */
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.centered {
	display: inline-block;
	vertical-align: middle;
}

.loginmodal-container {
	max-width: 390px;
	width: 100% !important;
	padding: 5px;
	margin: 0 auto;
	overflow: hidden;
	font-family: roboto;
}

.loginmodal-container h1 {
	text-align: center;
	font-size: 1.8em;
	font-family: roboto;
}

.loginmodal-container input[type="submit"] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.loginmodal-container input[type="text"],
input[type="password"],
input[type="email"] {
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.loginmodal-submit {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #4d90fe;
	padding: 17px 0px;
	font-family: roboto;
	font-size: 18px;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #357ae8;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.prof-name {
	-webkit-box-shadow: 5px 5px 3px 0px rgba(53, 122, 232, 0.58);
	box-shadow: 5px 5px 3px 0px rgba(53, 122, 232, 0.58);
	background-color: #357ae8;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.map {
	margin-top: 10px;
}

.photo {
	padding-top: 8px;
	margin-top: 8px;
	width: 225px;
	margin: auto;
	vertical-align: middle;
	border-radius: 10px;
}

.circle-photo {
	height: auto;
	width: auto;
	padding: 2px;
	-webkit-box-shadow: 0 0 6px 2px #010408;
	box-shadow: 0 0 6px 2px #010408;
}

.logo {
	padding: 10px;
}

.pager-b {
	margin-left: 10%;
	margin-right: 10%;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.header {
	background-color: rgba(0, 0, 0, 0.81);
}

.rowsign {
    background-color: rgba(240, 240, 240, 0.67);
    padding: 20px;
}
